<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="books" *ngIf="isAuth">Livres</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active">
                <a routerLink="auth/signin" *ngIf="!isAuth">Connexion</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="auth/signup" *ngIf="!isAuth">Créer un nouveau compte</a>
            </li>
            <li >
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointeryou">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>
