<div class="row" >
    <app-spinner  *ngIf="loading"></app-spinner>
    <!--Card to add new Book -->
    <form  *ngIf="!loading" [formGroup]="bookform" (ngSubmit)="addNewBook()">
       
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="author">Auteur</label>
            <input type="text" class="form-control" id="author" formControlName="author">
        </div>
        <div class="form-group">
            <label for="cover">Couverture</label>
            <input type="file" class="form-control" id="cover" accept="image/*" (change)="saveImage($event)">
            <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
        </div>
        
        <input class="btn btn-success" type="submit" [disabled]="bookform.invalid || fileIsUploading" [value]="buttonName">
        
    </form>

</div>