<div class="card" style="display: flex; flex-direction: column; margin: auto; width: 40%; margin-top: 2em;">
  <div>
    <button style="margin-bottom: 1em;" class="btn btn-default" type="submit" (click)="onBack()">Retour</button>
   </div>
    <div *ngIf="loading">
      <app-spinner ></app-spinner>
    </div>
    
    <div class="card-body" *ngIf="book">
      <img *ngIf="book.photo" [src]="book.photo" class="card-img-top" style="max-width: 400px;">
      <h1 class="card-title">{{book.title}}</h1>
      <h4 class="card-text">{{book.author}}</h4>
     
      <div style="display: flex;  justify-content:flex-start">
        <button style="padding: 1em;" class="btn btn-default pull-right"   (click)="onEditBook(book.id)" >
          <span class="glyphicon glyphicon-pencil"></span>
      </button>
<!--      
      <button style="padding: 1em;" class="btn btn-default pull-right"  (click)="onDeleteBook()">
        <span class="glyphicon glyphicon-trash"></span>
    </button> -->
    
      </div>
    </div>
   
</div>
