<div class="row" >
    <div class="col-xs-12">
        <h1>Liste des livres</h1>

        <h4 *ngIf="books.length===0"> Ajouter vos livres !</h4>
        <div *ngIf="loading">
            <app-spinner ></app-spinner>
        </div>
        
        <div class="group-list">
           <button style="margin-bottom: 1em;" class="list-group-item" *ngFor="let book of books" >
              <a (click)="onViewBook(book)">
                <h3 class="list-group-item-heading" >
                    {{book.title}}  </h3>
              </a> 
               <button class="btn btn-default pull-right" (click)="onDeleteBook(book)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
               <p class="list-group-item-text">{{book.author}}</p>
           </button>
        </div>
        <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
            <p style="color: white">Please Wait. </p>  
            </ngx-spinner>  -->
            <button class="btn btn-primary" (click)="onAddBook()">Nouveau livre</button>
    </div>
  
</div>